---
import Navbar from "../Components/Navbar";
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body class="bg-black text-white">
    <Navbar/>
    <div class="flex flex-col items-center justify-center min-h-screen">
        About
    </div>
</body>
</html>