.scroll-watcher{
    height: 4px;
    z-index: 1000;
    position: fixed;
    top: 0;
    width: 100%;
    scale: 0 1;
    transform-origin: left;
    animation: scroll-watcher linear;
    animation-timeline: scroll();
}
@keyframes scroll-watcher {
    to { scale: 1 1;}
}