---
import "./global.css"
import Home from "./Home"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Adarshswaminath Freelance Student Web3 ReactJS Front-End Developer. Explore a dynamic portfolio showcasing my passion for creating modern and innovative web experiences. From intuitive interfaces to seamless user journeys, discover how I bring ideas to life. Let's collaborate and transform your digital vision into reality."/>
    <meta name="generator" content={Astro.generator} />
    <title>Hey Iam Adarsh</title>
  </head>
  <body>
    <Home/>
  </body>
</html>