---
import "./global.css"
import About from "../Components/About.jsx"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Adarshswaminath Freelance Student Web3 ReactJS Front-End Developer. Explore a dynamic portfolio showcasing my passion for creating modern and innovative web experiences. From intuitive interfaces to seamless user journeys, discover how I bring ideas to life. Let's collaborate and transform your digital vision into reality."/>
    <meta name="generator" content={Astro.generator} />
    <title>Hey Iam Adarsh</title>
  </head>
  <body>
    <div class="grid lg:flex h-screen">
      <div class="scroll-watcher bg-gradient-to-r from-pink-500 to-indigo-500"></div>
       <!-- fixed section -->
    <div class="w-full lg:w-1/2 min-h-screen bg-black flex items-center justify-center border-r ">
      <img src="/assets/profile.png" alt="profile" class="object-contain">
    </div>
    <!-- scrollable section -->
    <div class="flex-1 w-full lg:w-1/2 lg:overflow-auto min-h-screen">
      <About/>
      <div class="min-h-screen bg-white"></div>
    </div>
    </div>
  </body>
</html>