---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Hey Iam Adarsh</title>
	</head>
	<body class="flex items-center justify-center min-h-screen bg-gray-900">
		<div class="flex items-center text-white bg-white/10 backdrop-blur p-2 rounded-lg">
			<h2 class="text-2xl font-bold">Site On Progress </h2>
		<img class="h-12" src="https://astro.build/assets/press/astro-logo-light-gradient.svg" alt="Logo">
		</div>
	</body>
</html>
