---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
	<meta name="description" content="Adarshswaminath Freelance Student Web3 ReactJS Front-End Developer. Explore a dynamic portfolio showcasing my passion for creating modern and innovative web experiences. From intuitive interfaces to seamless user journeys, discover how I bring ideas to life. Let's collaborate and transform your digital vision into reality.">
    <meta name="generator" content={Astro.generator} />
    <title>Hey Iam Adarsh</title>
  </head>
  <body
    class="flex flex-col text-white items-center justify-center min-h-screen bg-gray-900"
  >
    <div>
      <p class="text-center flex flex-col items-center justify-center font-bold gap-2 tracking-wide">
        Exciting things brewing! 🚧 Site under construction with Astro's touch
        <img
          class="h-12 p-2 bg-white/10 backdrop-blur w-44 rounded-lg"
          src="https://astro.build/assets/press/astro-logo-light-gradient.svg"
          alt="Astro ogo"
        />
      </p>
    </div>
  </body>
</html>
