---
// Button.astro
const { primary } = Astro.props;
---
<button
  class={`px-4 py-2 text-[15px] font-medium rounded-lg border transition-all duration-300 ${
    primary
      ? "bg-slate-800 text-white border-slate-800 hover:opacity-90"
      : "border-gray-300 hover:border-slate-800"
  }`}
>
  <slot />
</button>

