---
import Navbar from "./Navbar.jsx";
const backgroundHero =
  "background-image: url('./assets/profile-modified.png');background-repeat: no-repeat;background-position:center;";
---

<div>
  <Navbar/>
  <div class="min-h-screen flex flex-col items-center justify-center relative">
    <div>
      <img src="./assets/profile-modified.png" alt="Profile Image" />
      <div class="flex items-center justify-center">
        <div
          class="text-white text-center p-3 bg-white/10 backdrop-blur text-xl w-1/2 lg:w-1/4 mx-auto rounded-lg absolute"
        >
          <h2 class="text-xl font-sans font-semibold">Hi I'am <span class="text-transparent bg-clip-text bg-gradient-to-r from-blue-500 to-indigo-500">Adarsh</span></h2>
        </div>
      </div>
    </div>
  </div>
</div>
