---
import Navbar from "./Navbar.jsx";
const backgroundHero =
  "background-image: url('./assets/profile-modified.png');background-repeat: no-repeat;background-position:center;";
---

<div>
  <Navbar/>
  <div class="min-h-screen flex flex-col items-center justify-center relative">
<div class="max-w-3xl flex flex-col items-center">
<div>
  <h1 class="text-3xl  text-gray-800 lg:text-5xl text-center font-mono font-bold">Hi! Iam Your friendly neighborhood coding buddy</h1>
  <p class="text-center font-mono text-xs lg:text-base mt-3">A passionate self learned developer who enjoys creating high quality software that meets the needs of clients and customers.Let's bring ideas to life together!</p>
</div>
  <button class="mx-auto mt-3 bg-[#FDFD96] p-3 w-64 rounded-lg font-mono font-extrabold border-b-[5px] border-r-[5px] hover:border border-black transition ease-in-out delay-300">
    Connect With Me!
  </button>
</div>
  </div>
</div>
