<div class="bg-black p-2 text-white sticky top-0 right-0 bg-black/10 flex items-center justify-end space-x-4 font-medium">
    <a href="#" class="text-green-500 active:text-red-500">About</a>
    <span>About</span>
    <span>About</span>
</div>